 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

header {
    background-image: url(../img/pattern.png);
    background-color: blue;
    background-size: 27%; 
    height: 120px;

}

#logo {
    background-image: url(../img/logo.svg);
    background-position: left bottom ;
    background-repeat: no-repeat;
    height: 50px;
}
#nome{
    color: cyan;
}
h6{
    color: gray;
}
.evidenziatore{
    background-color: yellow;
}
